body{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 82px;
    background-color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}


.header-bck{
    gap: 400px;
	position:fixed; top:0px; left:0px; right:0px; 
    display: flex;
    justify-content: center;
    background-color: black;
}
.header{
    display: flex;
    width: 800px;
    height: 120px;
    align-content: center;
    justify-content: center;
    gap: 140px;
    color: white;
    background-image: url("./images/got.png");
    background-size: 800px 204px;
    object-fit: cover;
    flex-shrink: 0;
    font-size: 18px;
}
.left-header{
    display: flex;
    margin-bottom: 12px;
    margin-left: 8px;
    align-items: flex-end;
}
.right-header{
    display: flex;
    margin-bottom: -6px;
}
.right-list{
    display: flex;
    gap: 16px;
    align-items: flex-end;
}


.body-house{
    display: flex;
    justify-content: center;
    background-color: black;
    flex: 1;
    padding-top: 119px;    
}

.targaryen-middle{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    color: white;
}
.targaryen-header-img{
    margin-top: -120px;
    margin-bottom: -100px;
}

.targaryen-text{
    display: flex;
    height: 120px;
    text-align: center;
}

.container-jon{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 100px;
}

.jon-header{
    color: white;
    text-align: center;
    margin-top: 70px;

}

.jon-text{
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 19px;
    margin-top: 70px;
}

.jon-img{
    display: flex;
    padding-top: 80px;
    height: 330px;
}